.vim/tmp/ack.vim/
.vim/tmp/align/
.vim/tmp/arduino/
.vim/tmp/color-sampler/
.vim/tmp/cucumber/
.vim/tmp/endwise/
.vim/tmp/fugitive/
.vim/tmp/gist-vim/
.vim/tmp/git/
.vim/tmp/gundo/
.vim/tmp/haml/
.vim/tmp/indent_object/
.vim/tmp/irblack/
.vim/tmp/javascript/
.vim/tmp/markdown/
.vim/tmp/nerdcommenter/
.vim/tmp/nerdtree/
.vim/tmp/puppet/
.vim/tmp/rails/
.vim/tmp/rspec/
.vim/tmp/scala/
.vim/tmp/searchfold/
.vim/tmp/snipmate/
.vim/tmp/solarized/
.vim/tmp/supertab/
.vim/tmp/surround/
.vim/tmp/syntastic/
.vim/tmp/taglist/
.vim/tmp/textile/
.vim/tmp/unimpaired/
.vim/tmp/vim-coffee-script/
.vim/tmp/vividchalk/
.vim/tmp/zoomwin/